/* import poppins from gfonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* background: radial-gradient(circle at bottom center, rgba(69, 42, 119, 0.6)0%, rgba(50, 23, 133, 0.8) 50%,rgb(0, 0, 0) 90% , rgb(0, 0, 0) 100%); */
    background: #0f0f2b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    backdrop-filter: blur(150px);
    position:fixed;
    width:100%;
    background:  #0f0f2bf1;
    top: 0;
    z-index: 100;

}

.header p{
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #8635ff, #5d5ddf);
    letter-spacing: 1.5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ================================= */
.header ul{
    display: flex;
    list-style: none;
}

.header ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.header ul li a:hover{
    background: linear-gradient(to right, #8635ff, #5d5ddf);
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* ================================= */

.main{
    margin-top: 60px;
    height: calc(100% - 80px);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:10px;
}

.main h1{
    text-align: center;
    font-size: 60px;
    /* margin-top: 20px; */
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff , #897d97bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* color: rgba(245, 245, 245, 0.7); */
}

.main p:nth-child(2){
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #5d5ddf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main p:nth-child(3){
    text-align: center;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.contact{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, rgba(133, 51, 255, 0.2), rgba(92, 92, 222, 0.2));
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 3px 3px 4px rgba(245, 245, 245, 0.5), -3px -3px 4px rgba(245, 245, 245, 0.5);
    /* width: 100px; */
    height: 50px;
    /* margin-left: 320px; */
    padding: 10px 20px;
    margin-top: 5px;
}

.contact a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.contact a:hover{
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, #8635ff, #5d5ddf);
    border-radius: 30px;
    padding: 10px 20px;
}

.main i{
    font-size: 22px;
    transform: rotate(-90deg);

    position: absolute;
    bottom: 0px;
    background: linear-gradient(to bottom,#8635ff, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ===================================================== */
/* ------------NXT PAGE--------------*/


.main2{
    height: calc(100% - 70px);
    justify-content: center;
    /* background: radial-gradient(circle at top center, rgba(69, 42, 119, 0.6)0%, rgba(50, 23, 133, 0.8) 50%,rgb(0, 0, 0) 90% , rgb(0, 0, 0) 100%); */
    background: #0f0f2b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
   
}
.me{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #8635ff, #5d5ddf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* color: rgba(245, 245, 245, 0.7); */
}
.main2 h2{

    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
   
}
.main2 p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #0f0f2b;
    margin-top: 20px;
}
.ten{
    /* gap: 20px; */
    margin-top: 50px;
    /* margin-left: 250px; */
    display: flex;
    /* margin-right: 100px; */
    height: 180px;
    width: 100px;
    background: linear-gradient(60deg , #3b2392, #362158);
    border-radius: 25px;
}
.main2 i{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 25px;

}
.tent{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    /* margin-right: 100px; */
    height: 170px;
    width: 500px;
    backdrop-filter: blur(200px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);

}
.tent p{
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.per{
    text-align: left;
    /* padding-left: 10px; */
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(35, 46, 204, 0.966);
}

.twl{ 
   /* gap: 20px; */
    margin-top: 50px;
    /* margin-left: 250px; */
    display: flex;
    /* margin-right: 100px; */
    height: 180px;
    width: 100px;
    background: linear-gradient(60deg , #3b2392, #362158);
    border-radius: 25px;

}
.twlt{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    /* margin-right: 100px; */
    height: 170px;
    width: 500px;
    backdrop-filter: blur(200px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);

}
.twlt p{
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
    border-spacing: 10px;
}
.bca{
    margin-top: 50px;
    /* margin-left: 250px; */
    display: flex;
    /* margin-right: 100px; */
    height: 180px;
    width: 100px;
    background: linear-gradient(60deg , #3b2392, #362158);
    border-radius: 25px;
}
.bcat{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    /* margin-right: 100px; */
    height: 170px;
    width: 500px;
    backdrop-filter: blur(200px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);

} 
.bcat p{
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}  

 /* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ================================================================================================================================================ */
/* ---------PAGE 3-------- */

.main3{
    height:100%;
    /* display: flex; */
    justify-content: center;
    /* background: radial-gradient(circle at top center, rgba(69, 42, 119, 0.6)0%, rgba(50, 23, 133, 0.8) 50%,rgb(0, 0, 0) 90% , rgb(0, 0, 0) 100%); */
    background: #0f0f2b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
   
}
.sk1{
    /* display: flex; */
    backdrop-filter: blur(500px);
    box-sizing: border-box;
    background: #39285344;
    padding-left: 20px;
    margin-left: 100px;
    margin-top: 30px;
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    height: 770px;
    width: 450px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.658); */
}
.programming{
    color: rgba(153, 12, 247, 0.842);
}
.progress-bar{
    height: 17px;
    width: 300px;
    border: #ffffff 1px solid;
    border-radius: 10px;

}
.progress{
    height: 15px;
    width: 250px;
    background-color: #5d5ddf;
    border-radius: 10px;
    
}
.pro{
    padding-top: 10px;
}
.progresscss{
    height: 15px;
    width: 150px;
    background-color: #f1f511;
    border-radius: 10px;
   
}
.language{
    color: rgba(224, 208, 235, 0.842);
    font-size: 30px;
}
.progressjs{
    height: 15px;
    width: 100px;
    background-color: #f511c4;
    border-radius: 10px;
   
}
.progresscpp{
    height: 15px;
    width: 170px;
    background-color: #11f5bc;
    border-radius: 10px;
   
}
.progressjava{
    height: 15px;
    width: 100px;
    background-color: #f51170;
    border-radius: 10px;
   
}   
.sk2{
    
    backdrop-filter: blur(500px);
    box-sizing: border-box;
    background: #39285344;
    padding-left: 20px;
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    height: 750px;
    width: 450px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.658); */
 }
.creative{
    color: rgba(247, 12, 169, 0.952);
}
.flexiie{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}
.progress:hover{
    background-color: #5d5ddf;
    transition: all 0.3s ease-in-out;
}
.progresscss:hover{
    background-color: #f1f511;
    transition: all 0.3s ease-in-out;
}
.progressjs:hover{
    background-color: #f511c4;
    transition: all 0.3s ease-in-out;
}
.progresscpp:hover{
    background-color: #11f5bc;
    transition: all 0.3s ease-in-out;
}
.progressjava:hover{
    background-color: #f51170;
    
    transition: all 0.3s ease-in-out;
}
.progress-bar:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);
    transition: all 0.3s ease-in-out;
}
.sk1:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);
    transition: all 0.3s ease-in-out;
}
.sk2:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.658);
    transition: all 0.3s ease-in-out;
}
.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #0f0f2b;
    /* margin-top: 20px; */
}
/* ================================================================================================================================================ */      


/* ================================================================================================================================================ */

.main4{
    height:100%;
    /* display: flex; */
    justify-content: center;
    /* background: radial-gradient(circle at top center, rgba(69, 42, 119, 0.6)0%, rgba(50, 23, 133, 0.8) 50%,rgb(0, 0, 0) 90% , rgb(0, 0, 0) 100%); */
    background: #0f0f2b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
   
}
.card4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #0f0f2b;
    /* margin-top: 20px; */
}
.touch{
    backdrop-filter: blur(500px);
    box-sizing: border-box;
    background: #39285344;
    padding-left: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    height: 550px;
    width: 500px;
    border-radius: 20px;
    
}
.nme{
    color: rgba(113, 110, 116, 0.884);
    font-size: small;
}
.name{
    /* text-align: center; */
    font-size: 40px;
    /* margin-top: 20px; */
    font-weight: bold;
    width:450px; 
    height: 50px;
    font-size: small;
    background: #1a0e29da;;
    border: #fbfbfc;
    box-shadow: #f6f6f78e 0px 0px 5px;
    border-radius: 20px;
    padding: 2px;
    /* color: rgba(245, 245, 245, 0.7); */
}

.em{
    color: rgba(113, 110, 116, 0.884);
    font-size: small;
}
.email{
    /* text-align: center; */
    font-size: 40px;
    /* margin-top: 20px; */
    font-weight: bold;
    width:450px; 
    height: 50px;
    font-size: small;
    background: #1a0e29da;;
    border: #fbfbfc;
    box-shadow: hsla(240, 6%, 97%, 0.557) 0px 0px 5px;
    border-radius: 20px;
    padding: 2px;
    /* color: rgba(245, 245, 245, 0.7); */
}
.msg{
    color: rgba(113, 110, 116, 0.884);
    font-size: small;
}
.message{
    /* text-align: center; */
    font-size: 40px;
    /* margin-top: 20px; */
    font-weight: bold;
    width:450px;
    height: 150px;
    font-size: small;
    background: #1a0e29da;;
    border: #fbfbfc;
    box-shadow: #f6f6f78e 0px 0px 5px;
    border-radius: 20px;
    padding: 20px;
    text-align: top left;
    /* color: rgba(245, 245, 245, 0.7); */
}
.btn{
    font-size: medium;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(to right , #5b41b8, #be19f0);
    /* margin-top: 20px; */
    border: #ffffff 3px solid;
}
/* ============================================================================================================== */
/* ============================================================================================================== */
/* ============================================================================================================== */
/* ============================================================================================================== */
/* ============================================================================================================== */
.reff{
    
    backdrop-filter: blur(500px);
    box-sizing: border-box;
    background: #39285344;
    padding-left: 20px;
    /* margin-left: 100px; */
    /* margin-top: 30px; */
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 180px;
    font-weight: bold;
    height: 370px;
    width: 350px;
    border-radius: 20px;
    
}
.con{
    color: royalblue;
    font-size: large;
    padding: 10px;
}
.ref1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    /* margin-top: 2px; */
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.ref2 {
    text-align: center;
    font-size: 30px;
    /* margin-top: 20px; */
    padding-bottom: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.ref3{
    text-align: left;
    font-size: 30px;
    /* margin-top: 20px; */
    padding-bottom: 10px;
    margin-left: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);

}
.linkdin{
    height: 60px;
    width: 200px;
    display: flex;
    text-align: center;
    border: #fffdfd 1px solid;
    border-radius: 20px;
    background: linear-gradient(to right , #0d6efd, #0d6efdab);
    padding: 10px;
    margin-top: 20px;
}
.insta{
    height: 60px;
    width: 200px;
    display: flex;
    text-align: center;
    background: linear-gradient(to right , #f59f00, #f500e1ab);
    border: #fffdfd 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.fb{
    height: 60px;
    width: 200px;
    display: flex;
    text-align: center;
    background: linear-gradient(to right , #032174, #041b80ab);
    border: #fffdfd 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */
.copy{
    display: flex;
    background: #000000;
    height: 50px;
    width: 100%;
}
.copy1{
    text-align: left;
    font-size: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(500px);
}
.copy2{
    margin-left: 800px;
    display: flex;
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(500px);
}